<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Amir Sharif</title>
    <meta name="description" content="Amir Sharif" />
    <meta name="author" content="Amir Sharif" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/syntax.css" />
    <link rel="stylesheet" href="/css/post.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="alternate" type="application/atom+xml" href="/atom.xml" />

    <!-- Icons -->
    <link rel="shortcut icon" href="{{site.url}}/icon.png" type="image/png" />
    <link rel="icon" href="{{site.url}}/icon.png" type="image/png" />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,900italic"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Mathjax -->
    <script
      type="text/javascript"
      src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML,
      /javascripts/MathJaxLocal.js"
    ></script>

    <!-- ApexCharts -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  </head>

  <body>
    <main>{{ content }}</main>
  </body>

  <script>
    (function (i, s, o, g, r, a, m) {
      i["GoogleAnalyticsObject"] = r;
      (i[r] =
        i[r] ||
        function () {
          (i[r].q = i[r].q || []).push(arguments);
        }),
        (i[r].l = 1 * new Date());
      (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m);
    })(
      window,
      document,
      "script",
      "//www.google-analytics.com/analytics.js",
      "ga"
    );

    ga("create", "UA-62520026-1", "auto");
    ga("send", "pageview");
  </script>
</html>
